body {
	margin: 0px auto;
	background-color: #3598DB;
	background-image: linear-gradient(rgba(255,255,255,0.25), rgba(255,255,255,0.95));
/*	background-image: linear-gradient(rgba(255,255,255,0.7), rgba(255,255,255,0.9)), url(/images/johannes-hofmann-536086-unsplash.jpg);*/
	/*background-position: center;*/
  /*background-repeat: no-repeat;*/
  /*background-size: cover;*/
  background-attachment: fixed;
}

.heading {
	background-color: #173B5D;
	padding: 10px 0;
	box-shadow: 0px 18px 30px black;
}

.title {
	font-size: 25px;
	padding: 20px 0;
}

.togcapsule1 {
	padding: 20px 20px 5px 0px;
}

.togcapsule2 {
	padding: 20px 0px 5px 20px;
}

.flex-container {
  display: flex;
  justify-content: center;
}

.mainbox {
	padding: 40px 80px;
}

.footer {
	background-color: #173B5D;
	text-align: center;
	padding: 10px;
	color: #E6E6E6;
	font-size: 14px;
}